# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore compiled files
*.out
*.o

# Ignore coverage reports
coverage/

# Custom
test.*
example/_*
_windows/
_linux/
